<div class="container m-5">
  <h2><%= @restaurant.name %></h2>
  <h3 class="py-2"><%= @restaurant.category %></h3>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.address %></p>
  <p><strong>--------------------------------------------------------------</strong></p>
  <ul class="list-unstyled">
    <% @restaurant.reviews.each do |restaurant| %>
      <li><em><%= restaurant.content %> <%= restaurant.rating %></em></li>



  <% end %>
</ul>
<div class="py-2">
  <strong>Leave a review of <%= @restaurant.name %></strong>

  </div>
  <div class="py-2">
  <%= render 'reviews/form' %>

  </div>

  <div class="py-2">
    <%= link_to "Back to list", restaurants_path %>

  </div>
</div>

